body {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    margin: 0;
  }
  
  .container {
    width: 96%;
    max-width: 1120px;
    margin: 0 auto;
  }
  
  .small-container {
    margin: 0 auto;
    width: 92%;
    max-width: 868px;
  }

  .site-intro {
    margin: 0 auto;
    width: 92%;
    max-width: 768px;
    text-align: center;
  }
  
  h1#site-title {
    font-size: 50px;
    color: #26817E;
    font-family: Trebuchet MS;
    text-align: center;
    font-weight: 800;
  }
  
  h1#article-title {
    font-size: 30px;
    color: #26817E;
    font-family: Trebuchet MS;
    text-align: center;
  }
  
  h1#footer-title {
    font-size: 30px;
    color: #26817E;
    font-family: Trebuchet MS;
    text-align: center;
  } 

  h2 {
    font-size: 30px;
    color: #26817E;
    font-family: Trebuchet MS;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  

  p {
    line-height: 1.25;
    margin-bottom: 1.25em;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  figure {
    margin: 0;
    border: 1px solid black;
    padding: 12px;
    padding-bottom: 24px;
    background: #E5EBEA;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
  
  figure.main-image {
    background: #e8edee;
    border-color: 1px solid #011627;
    color: #060606;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 520px;
    width: 520px;
  }

  figure.header-image {
    margin-left: auto;
    margin-right: auto;
  }
  
  .clearfix {
    overflow: auto;
  }
  
  figure.section-image.odd {
    max-width: 400px;
    float: right;
    margin: -1px 20px 32px 62px;
    text-align: center;
  }
  
  figure.section-image.even {
    max-width: 200px;
    float: right;
    margin: -1px 20px 32px 62px;
  }
  
  p img {
    float: right;
    max-width: 60%;
    margin-left: 20px;
    margin-bottom: 32px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left: 0;
  }
  
  
  nav ul li {
  
  
  }
  
  
  nav ul li a {
    color: #4763EB;
    text-decoration: none;
    padding: 12px;
    display: block;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  
  header nav ul li a:hover {
    border-bottom: 3px solid #4763EB;
    padding-bottom: 9px;
  }
  
  
  header nav ul {
    border-top: 3px solid #F68E5F;
    border-bottom: 3px solid #F68E5F;
  }
  
  figure.footer-image {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
  }

   footer nav {
  
  
   }
  
  
   footer nav ul li a {
    color:#6f23d1;
  
  
   }
  
  
   footer nav ul li a:hover {
    text-decoration: underline;
   }
  
  
   footer#page-footer {
    padding: 32px 0;
    margin-top: 64px;
    text-align: center;
    background-color: #DCDCDC;
    color: #6f23d1;
   }
  
  
